<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Stream Savers</title>

    <!-- Primary Meta Tags -->
    <title>Stream Savers</title>
    <meta name="title" content="Stream Savers">
    <meta name="description"
        content="Stream Savers is a 100% free service allowing you to loop streams 24/7 and LIVE to YouTube.">

    <meta name="keywords"
        content="stream savers,youtube loop streaming,live stream,how to livestream 24/7 on youtube,how to set up a 24 hour live stream on youtube,livestream 24/7 on youtube,stream,24/7 live streaming on youtube,24/7,how to livestream on youtube,live stream 24/7,24/7 worship live stream,live stream 24/7,how to make a 24 hour live stream">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://streamsavers.live/">
    <meta property="og:title" content="Stream Savers">
    <meta property="og:description"
        content="Stream Savers is a 100% free service allowing you to loop streams 24/7 and LIVE to YouTube.">
    <meta property="og:image"
        content="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png?width=57&height=57">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://streamsavers.live/">
    <meta property="twitter:title" content="Stream Savers">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <script src="https://kit.fontawesome.com/8dc570c5d4.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/base.css" media="screen">

    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="16x16">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="32x32">
    <link rel="icon" type="image/png"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://media.discordapp.net/attachments/964775926829285386/965796480826892300/SS-Box.png">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <meta name="google-site-verification" content="WhrlQklKMIVMmn46Q3Md2SwI1xse1THryAVloBUVsAA" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PSJQE6EEPD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-PSJQE6EEPD');
    </script>

    <script defer src='./static/js/index.js'>
    </script>

  <script async src="https://zink.tips/zwc.js?rid=62806aa98451d4c762c64a0d&c=blue"></script>
</head>

<body class="bg-dark">

    <%- include("./preset/navbar.ejs") %>

    <main class="container">
        <section class="details">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="text-center">
                        <b><span style='color: #c0000b;'>Stream</span> <span style='color: #4e9bf8;'>Savers</span></b>
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="col-md-12">
                    <p class="text-center">
                        Stream Savers is a free, open-source and easy-to-use service to loop stream 24/7 to YouTube
                    </p>
                </div>
            </div>
        </section>

        <div class="button-main container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <%if(locals.slots==0){%>
                            Sorry, there are no slots avalible at this time. Check back in a few days!
                            <%}else{%>
                                <button onclick="">
                                    <a href="/add">Start Streaming</a>
                                </button>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div class="container" style="padding-top: 30px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" align="center" style="font-size: medium;">
                                    <b>Streams available</b>
                                </h5>
                                <p class="card-text" align="center"
                                    style="color: #4e9bf8; font-size: x-large; font-weight: bold;">
                                    <%=slots%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" align="center" style="font-size: medium;">
                                    <b>Streams running</b>
                                </h5>
                                <p class="card-text" align="center"
                                    style="color: #4e9bf8; font-size: x-large; font-weight: bold;">
                                    <%=running%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" align="center" style="font-size: medium;">
                                    <b>Minutes streamed</b>
                                </h5>
                                <p class="card-text" align="center"
                                    style="color: #4e9bf8; font-size: x-large; font-weight: bold;">
                                    <%=minutes%>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="how-it-works" style="padding-top: 30px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">
                            <b>How it works</b>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            Stream Saver will stream videos of your choice on loop for however long until you want it to
                            stop! It's easy to set up, and has little downtime.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <main class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>100% Free</b>
                        </h5>
                        <p class="card-text">
                            <%if(locals.slots==0){%>Stream Savers is completely free, although we don't have any slots
                                open at the moment. We stream at up to a 250K bitrate at 30FPS, perfect for 720p
                                streams.<%}else{%>Stream Savers is completely free, with <%=slots%> slots for streams
                                        available at the moment. We stream at up to a 250K bitrate at 30FPS, perfect for
                                        720p streams.
                                        <%}%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Open-source</b>
                        </h5>
                        <p class="card-text">
                            If you ever need 100% uptime and better streaming, you can use <a
                                href="https://github.com/codingMASTER398/Stream-Savers-minimal-loop-streaming">our
                                minimal loop
                                streaming program</a>. Want to host this website as well? We've got instuctions on that
                            too.
                        </p>
                        <a href="https://github.com/crizmo/Stream-Savers" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <b>Easy-to-use</b>
                        </h5>
                        <p class="card-text">
                            Stream Savers is too easy to set up and keep up, and you only need around 10 minutes (or less!) of
                            setup to begin streaming. Try it today! There's nothing to lose.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" hidden>
            <div class="col-md-12">
                <h5 class="showcase card-title" align="center">
                    <b>Showcase</b>
                </h5>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="leftside col-md-1">
                                <button class="btn btn-primary" onclick="left()">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                            </div>
                            <div class="showcasevideo col-md-10">
                                <iframe class="showvideo" width="760" height="415"
                                    src="https://www.youtube.com/embed/eFC5L13iBn0" title="YouTube video player"
                                    frameborder="0" id='videoFrame'></iframe>
                            </div>
                            <div class="rightside col-md-1">
                                <button class="btn btn-primary" onclick="right()">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-12">
                        <p class="text-center" style="color: rgb(0, 0, 0);">
                            Using Stream Savers and want your stream here ? Join our <a
                                href="https://discord.gg/AmqeuS9hwS">Discord</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="credits container">
        <div class="row">
            <div class="col-md-12">
                <div class="credits-card card">
                    <div class="card-body">
                        <h5 class="credits-title card-title" style="text-align: center;">
                            <b>Credits</b>
                        </h5>
                        <h6 class="card-text">
                            <p class="credits-text text-center">
                                Stream Savers was created by <a href="https://github.com/crizmo" class="credits-ppl" target="_blank">Criz</a> and <a
                                    href="https://coding398.dev/" class="credits-ppl" target="_blank">Coding398</a> as a way to stream loop videos on youtube 24/7 for free !
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="foot text-center">

        <!-- <a href="">Instagram</a> -->
        <a href="https://discord.gg/AmqeuS9hwS">Discord</a>
        <a href="https://github.com/crizmo/Stream-Savers">Github</a>
        <a href="http://tiny.cc/SSChannel">Youtube</a>

    </footer>
</body>

</html>